@model HShop.ViewModels.ClientVM
@{
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
	ViewBag.Title = "Cập nhật thông tin khách hàng";
}

<!-- Cột thông tin chính và phụ trong form-row -->
<div class="form-row">
	<div class="col-12 col-md-6">
		<!-- Thông tin chính -->
		<div class="form-group form-row">
			<label class="col-sm-4 col-form-label">Họ và tên:</label>
			<div class="col-sm-8">
				<input asp-for="HoTen" class="form-control" />
				<span asp-validation-for="HoTen" class="text-danger small"></span>
			</div>
		</div>

		<div class="form-group form-row">
			<label class="col-sm-4 col-form-label">Giới tính:</label>
			<div class="col-sm-8">
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" asp-for="GioiTinh" value="true" id="gioiTinhNam">
					<label class="form-check-label" for="gioiTinhNam">Nam</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" asp-for="GioiTinh" value="false" id="gioiTinhNu">
					<label class="form-check-label" for="gioiTinhNu">Nữ</label>
				</div>
				<span asp-validation-for="GioiTinh" class="text-danger small"></span>
			</div>
		</div>

		<div class="form-group form-row">
			<label class="col-sm-4 col-form-label">Ngày sinh:</label>
			<div class="col-sm-8">
				<input asp-for="NgaySinh" class="form-control" />
				<span asp-validation-for="NgaySinh" class="text-danger small"></span>
			</div>
		</div>

		<div class="form-group form-row">
			<label class="col-sm-4 col-form-label">Số điện thoại:</label>
			<div class="col-sm-8">
				<input asp-for="DienThoai" class="form-control" />
				<span asp-validation-for="DienThoai" class="text-danger small"></span>
			</div>
		</div>
	</div>

	<div class="col-12 col-md-6">
		<!-- Thông tin phụ -->
		<div class="form-group form-row">
			<label class="col-sm-4 col-form-label">Địa chỉ:</label>
			<div class="col-sm-8">
				<input asp-for="DiaChi" class="form-control" />
				<span asp-validation-for="DiaChi" class="text-danger small"></span>
			</div>
		</div>

		<div class="form-group form-row">
			<label class="col-sm-4 col-form-label">Email:</label>
			<div class="col-sm-8">
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger small"></span>
			</div>
		</div>

		<div class="form-group form-row">
			<label class="col-sm-4 col-form-label">Ảnh minh họa:</label>
			<div class="col-sm-8">
				@if (!string.IsNullOrEmpty(Model.Hinh))
				{
					<div class="custom-file d-flex mb-2">
						<span class="mr-2">@Model.Hinh</span>
						<input asp-for="Hinh" class="custom-file-input" id="customFile" type="file">
					</div>
					<span asp-validation-for="Hinh" class="text-danger small"></span>
					<img src="~/Hinh/KhachHang/@Model.Hinh" alt="Ảnh hiện tại" class="img-thumbnail" style="max-height: 150px;" />
				}
				else
				{
					<div class="custom-file mb-2">
						<input asp-for="Hinh" class="custom-file-input" id="customFile" type="file">
					</div>
					<span asp-validation-for="Hinh" class="text-danger small"></span>
					<div class="img-thumbnail" style="width:150px; height:150px; display:flex; align-items:center; justify-content:center; background-color:#f8f9fa; border:1px solid #ddd;">
						<span style="color:#666; font-size:14px;">150px x 150px</span>
					</div>
				}
			</div>
		</div>
	</div>
</div>
