@* <form asp-action="Search" asp-controller="HangHoa">
    <input type="search" class="input form-control p-3" placeholder="Search here" aria-describedby="search-icon-1" name="query">
    <button class="search-btn">
        <span id="search-icon-1" class="input-group-text p-3">Search</span>
    </button>
</form> *@

